
body{
    background-color: white;
    background-color: #fdffff;
    color: #04a6eb;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
li{
    list-style-type:disk;
    margin: auto;
    color: rgb(115, 89, 231);
}
a{
    font-weight: bold;
}
